<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Sign Up Form</h2>
      <form class="signup">
        <div class="form-group">
          <label for="exampleInputFN">First Name</label>
          <input type="firstName" class="form-control" id="firstname-input" placeholder="First Name">
        </div>
        <div class="form-group">
          <label for="exampleInputLN">Last Name</label>
          <input type="lastName" class="form-control" id="lastname-input" placeholder="Last Name">
        </div>
        <div class="form-group">
          <label for="exampleInputLN">City</label>
          <input type="cityName" class="form-control" id="cityname-input" placeholder="City">
        </div>
        <div class="form-group">
          <label for="exampleInputLN">State</label>
          <input type="stateName" class="form-control" id="statename-input" placeholder="State">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="email-input" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="password-input" placeholder="Password">
        </div>
        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span> <span class="msg"></span>
        </div>
        <button type="submit" class="btn btn-default">Sign Up</button>
      </form>
      <br />
      <p>Or log in <a href="/login">here</a></p>
    </div>
    <div class="description col-md-6">
      <p>
        Long ago, there was a website that created space for people to meet online, share their interests, and hopefully
        meet in person one day. It was called MySpace and it worked... Sometimes. There was another social site before
        MySpace called Xanga, but let's not talk about that. Too many bad memories. MySpace was a beautiful place, but
        it had its flaws. And then in 2004, another titan was formed by the social media gods, and then another, and
        another. We know their names, but we dare not say them for fear of Zeus' lightning bolt. These platforms have
        become a home for snakes. Hidden in the tall grass they slither and scream their unwanted political opinions.
        The gods tried to cut the grass and censor the snakes from hissing their nonsense, but the war continues to this
        day.
      </p>
      <p>
        Just as you are, the creators of the site that you've landed in are exhausted with social media. So, what do
        millennials do when they get tired of one social media account? They make another! But this one will be
        different. At least we hope.
      </p>
      <p>
        Enough of the pageantry. What is this site? This is a site for lovers of music, by lovers of music. In that
        sentence, you will see our number one rule - MUSIC. If it has nothing to do with music, then it will be taken
        down. If you share your political opinions, whether they be on the right or the left, it will be called
        "stupid," and then it will be taken down. Your political opinions are stupid, and nobody cares about them.
        That's right, we said it. Let's be human together again. And what speaks to humans in every language? Music.
      </p>
      <p>
        So, if we haven't scared you away just yet, sign up.
      </p>
      <p>
        If we have, then it's probably for the best!
      </p>
    </div>
  </div>
</div>