/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
form.signup,
form.login {
    margin-top: 50px;
}

body {
    background-color: whitesmoke;
    color: #36454f;
    font-family: 'Advent Pro', sans-serif;
    font-size: medium;
}

h2 {
    color: #36454f;
    font-family: 'Advent Pro', sans-serif;
}

.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 5px;        
}

.submitBtn {
    color: #36454f;
}

.navbar-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;  
}

img {
    border-radius: 50%;
    height: 175px;
    width: 175px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.description {
  margin-top: 110px;
}

#upcomingshows {
    text-decoration: underline;
    font-weight: bold;
}

#rowone {
    border: 0px;
    margin: 0px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}
#rowtwo {
    border: 0px;
    margin: 0px;
    padding-bottom: 100px;
}
#rowthree {
    border: 0px;
    margin: 0px;
    padding: 0px;
}
#rowfour {
    border: 0px;
    margin: 0px;
    padding-top: 200px;
    
}

.pleft {
    text-align: center;

}

.pright {
    text-align: center;
}

#aboutMeInput {
    resize: none;
}

#aboutMe {
    text-align:right;
    display: inline-block;
}

#mastiff{
    text-align:center;
}

.inlineblock {
    text-align:center;

}

.maincontainer{
    margin-left: 75px;
    margin-right: 75px;
}

.beentoshows {
    text-align: center;
}