form.signup,
form.login {
  margin-top: 50px;
  }


body {
    background-color: whitesmoke;
    color: #36454f;
    font-family: 'Advent Pro', sans-serif;
    font-size: medium;
    letter-spacing: 1.5px;
}

h2 {
    color: #36454f;
    font-family: 'Advent Pro', sans-serif;
    letter-spacing: 1.5px;
}

.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 5px;
}

.submitBtn {
    color: #36454f;
}

.navbar-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

img {
    margin-left: 20px;
    border-radius: 50%;
    height: 175px;
    width: 175px;
}

.description {
  margin-top: 110px;
}